[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gdalcubes"]
	path = gdalcubes
	url = https://github.com/appelmar/gdalcubes
	shallow = true
	registered = true
